
body{
  background-image: url(https://stmed.net/sites/default/files/wall-wallpapers-25346-616321.jpg);
}
.container{

background-color: rgb(158, 19, 19);
}

#aboutMeSection{
  position: absolute;
  background-color: rgb(34, 31, 31);
  color: whitesmoke;
  left: 15%;
 right: 15%;
 padding: 10px;
 margin-top: 3%;
}

#history{
  position: absolute;
  top: 55%;
  color: whitesmoke;
  background-color: rgb(26, 24, 24);
  left:15%;
  right: 15%;
}

#leftCol{
 
}

#rightCol{
 
}

#achieve, #wrkHist, #education{
  height: 125px;
}

.card-header{
  color: black;
}




@media screen and (max-width: 768px)
{
  body{
    background-color: black;
  }

  header{
    margin:20%;
    margin-bottom: 110px;
    
  }

  .right{
    
    margin-top: 18%;
  }
   
  li{
    font-size: 16px;
    line-height: 20px;
  }

  p{
    padding: 10px;
    
   
  }
}